<div class="mt-4">

  <div *ngIf="(total$ | async) > 0">
    <table class="table table-striped" [class.blurred]="loading">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col" (sort)="onSort($event)">ID</th>
          <th scope="col" (sort)="onSort($event)">Name</th>
          <th scope="col" (sort)="onSort($event)">Content</th>
          <th scope="col" sortable="createdAt" (sort)="onSort($event)">Created</th>
          <th scope="col" sortable="updatedAt" (sort)="onSort($event)">Updated</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let page of pages$ | async; let idx = index">
          <th scope="row">{{ startIndex + idx + 1 }}</th>
          <td>{{ page.id }}</td>
          <td>{{ 'task.name' }}</td>
          <td>{{ page.content }}</td>
          <td>{{ page.createdAt | timeago }}</td>
          <td>{{ page.updatedAt | timeago }}</td>
        </tr>
      </tbody>
    </table>

    <app-pagination [total$]="total$" [(page)]="page" [(pageSize)]="pageSize" (pageChange)="onPageChanged($event)" (pageSizeChange)="onPageSizeChanged($event)"></app-pagination>
  </div>

  <div class="jumbotron" *ngIf="(total$ | async) == 0">
    <h2>No pages</h2>
    <p class="lead">Create a page to see it appear here.</p>
  </div>

</div>
