<div class="input-group">
  <input type="text" class="form-control"
         [(ngModel)]="page"
         [ngbTypeahead]="search"
         [resultTemplate]="rt"
         [inputFormatter]="formatter" 
         />
  <div class="input-group-append">
    <app-language-selector></app-language-selector>
  </div>
</div>

<ng-template #rt let-r="result" let-t="term">
  <span *ngFor="let expression of r.expressions; let i = index">
    <span *ngIf="i > 0">, </span>
    <ngb-highlight [result]="expression" [term]="t"></ngb-highlight>
  </span>
</ng-template>
