<!--<div class="card-header" id="headingOne">
  <h4 class="mb-0" (click)="isCollapsed = !isCollapsed">
    <a class="nav-link text-dark" [routerLink]="['/pages', relatedPage.target.id]">{{ title }}</a>
  </h4>
</div>

<div id="collapseOne" class="collapse show" aria-labelledby="headingOne" [ngbCollapse]="isCollapsed">
  <div class="card-body">
    <markdown katex>
      {{ relatedPage.target.content }}
    </markdown>
  </div>
</div>-->

<h4>
  <app-page-type-selector [pageId]="relatedPage.target.id" [pageType]="relatedPage.target.type"></app-page-type-selector>
  <span class="ml-2" [routerLink]="['/pages', relatedPage.target.id]">{{ title }}</span>
</h4>
<markdown katex>
  {{ relatedPage.target.content }}
</markdown>
<hr />
