<div *ngIf="loading" ngElse="">
  <p>Loading...</p>
</div>

<div *ngIf="!loading" class="page-content" ngElse="">

  <div class="container mt-4">
    <app-page-title [page]="page">
      <span class="btn-group float-right mt-2" role="group" aria-label="Basic example">
        <button class="btn btn-outline-dark" role="button" [routerLink]="['/pages', page.id, 'edit']">
          <fa-icon [icon]="editIcon"></fa-icon>
          Edit
        </button>
        <button class="btn btn-outline-dark"
                no-hover-class="btn-outline-dark"
                hover-class="btn-outline-danger" role="button" (click)="openModal(modalContent)">
          <fa-icon [icon]="deleteIcon"></fa-icon>
          Delete
        </button>
      </span>
    </app-page-title>
  </div>

  <div class="container mt-4">
    <hr />
    <markdown katex>
      {{ page.content }}
    </markdown>
  </div>

  <ng-template #modalContent>
    <app-confirm-modal [message]="deleteMessage"
                       (confirm)="modal.close()" (close)="modal.dismiss()"></app-confirm-modal>
  </ng-template>
</div>
