<div class="modal-header">
  <h4 class="modal-title" id="modal-basic-title">New relation</h4>
  <button type="button" class="close" aria-label="Close" (click)="close.emit()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<div class="modal-body">
  <app-new-relation-form [pageId]="pageId" (pageSelected)="newPage = false"></app-new-relation-form>
  <div *ngIf="newPage">
    <app-page-content-form></app-page-content-form>
  </div>
</div>

<div class="modal-footer">
  <button *ngIf="form.pageSelector.isPageSelected && !newPage" type="button" class="btn btn-dark" [disabled]="!valid" (click)="createRelation()">
    <fa-icon [icon]="faPlus"></fa-icon>
    Create relation
  </button>
  <button *ngIf="!form.pageSelector.isPageSelected && !newPage" type="button" class="btn btn-dark" [disabled]="!valid" (click)="newPage = true">
    <fa-icon [icon]="faPlus"></fa-icon>
    New page
  </button>
  <button *ngIf="!form.pageSelector.isPageSelected && newPage" type="button" class="btn btn-dark" [disabled]="!valid" (click)="createRelatedPage()">
    <fa-icon [icon]="faPlus"></fa-icon>
    Create page
  </button>
</div>
